{# templates/main/index.html.twig #}
{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('styles/index.css') }}">
{% endblock %}
{% block body %}
    <section class="bg-secondary text-center py-5">
        <div class="container">
            <h1 class="display-4 fw-bold text-white">Bienvenue sur Sortir.com</h1>
            <p class="lead mt-3 text-white">
                La plateforme officielle pour organiser et participer aux sorties de l’école ENI.
            </p>
            <a href="{{ path('sorties_list') }}" class="btn btn-dark btn-lg mt-3">Commencer maintenant</a>
        </div>
    </section>

    <section class="py-5 ">
        <div class="container">
            <h2 class="text-center mb-5 fw-bold text-secondary">Pourquoi utiliser Sortir.com ?</h2>
            <div class="row g-4">
                <div class="col-md-6 text-center text-sencodary">
                    <i class="bi bi-calendar-check display-4 text-secondary mb-3"></i>
                    <h5>Organisation simple</h5>
                    <p>Créez vos sorties en quelques clics : définissez un lieu, une date et invitez vos camarades.</p>
                </div>
                <div class="col-md-6 text-center">
                    <i class="bi bi-people display-4 text-secondary mb-3"></i>
                    <h5>Participation facile</h5>
                    <p>Inscrivez-vous rapidement aux événements proposés et suivez les participants en temps réel.</p>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
