{% extends 'base.html.twig' %}

 {% block body %}
     {{ form_start(sortieForm) }}
     {{ form_widget(sortieForm) }}
     <button class="btn btn-primary">Ajouter</button>
     {{ form_end(sortieForm) }}
{% endblock %}